
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald&family=Poppins:wght@400;500;700&family=Roboto&family=Young+Serif&family=Ysabeau+Infant:wght@500&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif;
font-family: 'Ysabeau Infant', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: rgb(247, 246, 246); */
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    box-shadow: 0px 0px 1px grey;
}

a {
    text-decoration: none;
}



nav {
    flex-basis: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: black;
    font-size: 1rem;
}

nav ul li a:hover{
    color: rgb(6, 148, 188);
}

/* section {
    padding: 20px;
} */

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 5px ;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;

    margin-top: 50px ;
}

.left-nav {
    display: flex;
    flex-basis: 30%;
    justify-content: center ;
}
#nav-heading {
    /* color: #4a4a4a; 
    text-shadow: 2px 2px 4px #999999;  */
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 0.04cap;
    color: black;
    margin-left: 20px;
}

.left-text {
    flex-basis : 30% ;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    /* user-select: none; */
}

#heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem ;
    text-align: center;
}

#subheading {
    font-size: 2rem;
    font-family: "Poppins";
    color: rgb(29, 47, 103);
    text-align: center;
}

#get-started {
    border-style: none;
    align-self: center;
    font-size: 1.3rem;
    padding: 20px 70px;
    border-radius: 5px;
    color: white ;
    background-color: royalblue;
}

.banner-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    flex-basis: 50%;
    /* border: 1px solid red; */
    background-image: url(https://github.com/codewithsadee/eduweb/blob/master/assets/images/hero-shape-2.png?raw=true);
    /* display: flex; */
    object-fit: cover;
    position: relative;
}

#gallery-img-1 {
    position: absolute;
    top: 80px ;
    border-bottom-right-radius: 35px;
}

#gallery-img-2 {
    /* position: absolute; */
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
    margin-top: 240px;
    margin-left: 370px ;
    height: 350px ;
    width: 250px; 
    /* object-fit: cover;
    /* top: 100px ; */
    /* align-self: flex-start; */
}


.explore-courses {
    margin-top: 140px;
}
.explore-courses p {
    text-align: center;
    font-size: 1.5rem;
}

.cards {
    display: flex;
    margin: 60px 100px ;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(90, 153, 241);
    border-radius: 10px;
}

.feature-cards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
#feature-heading{
    text-align: center;
    font-size: 3rem;
}

.feature-card {
    margin: 40px 30px;
    display: flex;
    justify-content:center ;
    border-radius: 10px;

    /* background-color: lightpink; */
}

.left-feaure-card {
    flex-basis: 30% ;
}

.left-feaure-card img {
    margin: 10px 0;
    border-radius: 20px;
}

.right-feature-card {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    
    /* background-color: lightpink; */
    /* padding: 0px 50px ;  */
    margin-right: 20px;
}

.right-feature-card p {
    
    font-size: 1.5rem;
    padding: 50px 50px ;
    background-color: rgba(135, 206, 250, 0.104);
    border-radius: 20px;

    font: "Lato";
}







